.container > h2 {
  text-align: center;
}
.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.userInfo > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgb(128, 128, 128);
}
