.container {
  width: calc(100% - 2em);
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.container input {
  padding: 1em;
  border-radius: 0.25em;
  border: 1px solid lightblue;
  outline: none;
}
.container input:focus {
  background-color: lightblue;
}
.container strong {
  font-weight: normal;
  font-size: 0.75em;
}

.loginbtn {
  background-color: rgb(187, 225, 248);
  border-radius: 12px;
  align-self: center;
  width: 300px;
  padding: 0.5rem 1rem;
  font-size: 1.5em;
  margin: 10px auto;
  transition: 0.5s ease;
}

.loginbtn:hover {
  background-color: rgba(0, 89, 255, 0.481);
  color: white;
}
.kakao {
  display: flex;
  justify-content: center;
}
