.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(180, 226, 253);
  padding: 0.5rem;
  position: relative;
  color: white;
  border-radius: 8px;
}

.hamburger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #999;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  z-index: 100;
  border: none;
  cursor: pointer;
  display: none;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}

.hamburger svg {
  width: 20px;
  height: 20px;
}

.noLogin .gnb {
  width: 350px;
  justify-content: space-around;
}
/* 공통 스타일 */
.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 720px 이하에서 기본적으로 gnb 숨김, 오른쪽 off-screen */
@media (max-width: 720px) {
  .gnbCon {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    pointer-events: none;
    transition:
      background-color 0.3s,
      backdrop-filter 0.3s;
    z-index: 90;
  }

  .gnb {
    position: absolute;
    top: 0;
    right: -70%;
    width: 55%;
    height: 100vh;
    background-color: rgb(180, 226, 253);
    padding: 5rem 1rem 0 1rem;
    transition: right 0.3s ease-in-out;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
  }

  .hamburger {
    display: flex;
  }

  .gnbCon.active {
    background-color: rgba(0, 0, 0, 0.295);
    pointer-events: auto;
  }

  .gnbCon.active .gnb {
    right: 0; /* 메뉴 등장 */
  }
  .noLogin .gnb {
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

/* 720px 이상에서는 햄버거 숨김*/
@media (min-width: 721px) {
  .hamburger {
    display: none;
  }

  .gnb {
    position: relative;
    width: 600px;
    height: auto;
    flex-direction: row;
  }
}
