.box {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: minmax(290px, 1fr) 1fr;
  grid-template-rows: 50px 1fr 50px;
  cursor: pointer;
  overflow: hidden;
  background-color: rgb(219, 232, 233);
  border-radius: 15px;
}

.box:hover {
  margin-top: 5px;
  box-shadow: 5px 5px 3px rgba(199, 192, 224, 0.619);
  background-color: rgba(62, 62, 246, 0.333);
}

.imgwrap {
  width: 95%;
  height: 95%;
  overflow: hidden;
  margin: auto;
  grid-row: 1/3;
  border-radius: 12px;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.titlewrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}
.titlewrap .title,
.titlewrap .summary,
.content {
  min-width: 0; /* Flex/Grid에서 줄어들 수 있게 */
  max-width: 100%; /* 부모 요소 너비 제한 */
  overflow-wrap: break-word; /* 긴 단어도 줄바꿈 처리 */
  word-break: break-word; /* 줄바꿈 허용 */
  white-space: normal; /* 기본 줄바꿈 허용 */
  text-overflow: ellipsis; /* 긴 경우 생략표시 */
}
.title {
  font-size: 1.2rem;
}

.title,
.summary {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.summary {
  font-size: 0.9rem;
  color: gray;
}

.imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.imgwrap img:hover {
  transform: scale(1.1);
}
.infowarp {
  display: flex;
  gap: 10px;
  align-self: center;
  justify-self: center;
  font-size: 0.9rem;
}

.content {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
  line-height: 1.4; /* 줄 간격 설정 */
  max-height: calc(1.4em * 5); /* 총 높이 제한 */
}

.plus {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.plus span {
  cursor: pointer;
}

@media (max-width: 600px) {
  .plus {
    justify-content: center;
    gap: 3rem;
  }
}
