* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
main {
  overflow: auto;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
h2 {
  font-size: 1.5rem;
  padding: 2rem 1rem;
}

.like {
  cursor: pointer;
}
